[submodule "plugins/qPoissonRecon/PoissonReconLib"]
	path = plugins/qPoissonRecon/PoissonReconLib
	url = https://github.com/cloudcompare/PoissonRecon
[submodule "plugins/vombat"]
	path = plugins/vombat
	url = git@ns392452.ip-176-31-109.eu:penasa/vombat.git
